* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 120%;
}

main {
  @extend .container;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

ul {
  list-style: none;
}
